.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centered-content-stacked {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

}

.left-content {
  display: flex;
  justify-content: left;
  text-align: left;
}

.left-content-stacked {
  display: flex;
  justify-content: left;
  text-align: left;
  flex-direction: column;
}

.right-content {
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: right;
}

#app {
  background-color: rgb(17, 0, 16);
  color: white;
  padding: 30px;
}

.btn {
  border-radius: 5px;
  background-color: rgb(117, 112, 112);
  color: white;
}

.btn:hover {
  background-color: rgb(102, 98, 98);
}

.btn-primary {
  border-radius: 30px;
  background-color: rgb(110, 34, 173);
  border: 1px solid rgb(110, 34, 173);
}

.btn-primary:hover {
  background-color: rgb(77, 23, 122);
  border: 1px solid rgb(77, 23, 122);
}

.btn-close {
  color: white;
  background-color: white;
  margin-right: 10px !important;
  width: 5px;
  height: 5px;
}

.card,
.card-header,
.card-body,
.card-footer {
  border-radius: 10px;
  background-color: rgb(118, 112, 112);
  color: white;
}

.modal-content,
.modal-header,
.modal-body,
.modal-footer {
  background-color: rgb(50, 48, 78);
  border: 1px solid rgb(50, 48, 78);
  color: white;
  border-radius: 35px;
  font-size: x-small;
}

.form-header {
  font-size: larger;
  color: rgb(173, 89, 255);
}

ul {
  padding-left: 15px !important;
  font-size: larger;
  font-weight: bold;
}

#search_input {
  background-color: rgb(23, 0, 23);
  color: white;
}

#search_input::placeholder {
  color: white;
}

.circle-text {
  border-radius: 50%;
  color: rgb(67, 59, 67);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid rgb(67, 59, 67);
}